@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,400&display=swap')*/

:root {
    --cor-primaria: #004225;
    --cor-secundaria: #F5F5DC;
    --cor-terciaria: #FFCF9D;
    --cor-hover:#272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}    

    body {
        box-sizing: border-box; 
        background-color: var(--cor-primaria);
        color: var(--cor-secundaria);
    }

    .cabecalho {
        padding: 2% 0% 0% 15%;

    }

    .cabecalho_menu { 
        display: flex;
        gap: 80px;
    } 

    .cabecalho_menu_link {
        font-family: var(--fonte-secundaria);
        font-size: 24px;
        font-weight: 600;
        color: var(--cor-terciaria);
        text-decoration: none;
    }

    .cabecalho_menu_link:hover {
        color: #D6D46D;
    }

    .titulo-destaque {
        color: var(--cor-terciaria);
    }

    .apresentacao {
        padding: 5% 15%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .apresentacao__conteudo {
        width: 615px;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .apresentacao__conteudo__texto {
        font-family: var(--fonte-primaria);
        text-decoration: none;
        font-size: 36px;
        color: var(--cor-terciaria);
    }

    .titulo-blog {
        font-family: var(--fonte-primaria);
        font-size: 36px;
        color: var(--cor-terciaria);

    }

    
    .paragrafo {
        font-family: var(--fonte-secundaria);
        font-size: 24px;
}

    .apresentacao__links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }

    
    .apresentacao__links__h2 {
        font-family: var(--fonte-primaria);
        font-weight: 400;
        font-size: 24px;
    }

    .apresentacao__botoes{
        display: flex;
        justify-content: center;
        gap: 16px;
        font-family: var(--fonte-secundaria);
        width: 378px;
        text-align: center;
        border: 2px solid var(--cor-terciaria);
        border-radius: 8px;
        font-size: 24px;
        font-weight: 600;
        padding: 21.5px 0;
        text-decoration: none;
        color: var(--cor-secundaria);         
    }

    .apresentacao__botoes:hover {
        background-color: var(--cor-hover);
    }

    span:hover {
        color: var(--cor-terciaria);
    }

    .rodape {
        padding: 24px;
        color: var(--cor-primaria);
        background-color: var(--cor-terciaria);
        text-align: center;
        font-family: var(--fonte-secundaria);
        font-size: 24px;
        font-weight: 400;
    }
    
    /*.teste {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;      
    }*/